:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("../public/images/background3.jpg");
  background-position: 0px -80px;
  background-size: cover;
  scrollbar-width: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 0em; /* Adjust the width to your preference */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.list-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.625);
  padding: 0;
  margin: 0;
}

.feedPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  width: 100vw;
}

.bandPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  width: 100vw;
}

.list-artists{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.625);
}

.artistsCenter{
  width: 100%;
  display: flex;
  justify-content: center;

}
/* Contacts page */
.mainContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.mainContacts h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.firstContact,
.secondContact,
.thirdContact {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
}

.section-visible {
  opacity: 1;
}

.insideContacts {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btnCenter{
  width: 100%;
  display: flex;
  justify-content: center;
}

.BtnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding-bottom: 15px;
}

.contactsBtn {
  background-color: transparent;
  border: none;
  width: 15px;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-img {
  border-radius: 20px 0 0 20px;
}

.login-form {
  border-radius: 0 20px 20px 0;
}

.edit-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form{
  width: 60vw;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 30px;
  border-radius: 20px;

}

.postsContainer {
  position: relative; /* Create a positioning context for .postsBg */
  height: 100vh; /* Set a fixed height or adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling within .postsContainer */
}

.postsBg{
  background-color: rgba(0, 0, 0, 0.625);
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
}

.postsBg form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}


.formBtns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: -150px;
  z-index: 1;
  position: absolute; /* Position buttons absolutely within the container */
  top: 72.5%; /* Adjust the top position as needed to place buttons on top */
  right: 2.5%;
} 

.formBtns button{
  padding: 10px;
  margin: 10px;
  z-index: 2;
}

.formBtns button:hover{
  color: black;
}


.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  align-items: flex-end; /* Align items to the right */
  width: 100%; /* Ensure the container spans the full width of its parent */
  padding-right: 15px; /* Add some spacing to the right */
  padding-bottom: 15px; /* Add some spacing to the bottom */
}

.mappedResultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.centeredPost {
  width: 100%; /* Ensure the elements take the full width of their container */
  max-width: 900px; /* Adjust as needed */
  margin-bottom: 20px; /* Add spacing between each mapped element */
  /* Additional styles for your mapped elements */
}

.postBtns{
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: -150px;
  z-index: 1;
}

.postBtns button{
  padding: 10px;
  margin: 10px;
  z-index: 2;
}

.postContent{
  display: flex;
  flex-direction: column;
}

.postSets{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.postSets span{
  width: auto;
}

.switcher {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
  margin-top: 25px;
}

.listsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailContainer{
  padding-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}